/* 
  TODO: HTML 요소들의 크기는 미리 설정해 두었습니다.
  position, animation 등을 활용하여 과제를 완성해주세요!
*/
body {
  width: 100%;
  animation: background 5s infinite linear;
}

section {
  width: 700px;
  height: 450px;
  margin-top: 100px;
}


section .sky {
  width: 100%;
  height: 100%;
  margin-left: 400px;
}

section .sky .sun {
  width: 300px;
  animation: sun 7s infinite linear;
  opacity: 0;
}

section .sky .moon {
  width: 160px;
  opacity: 0;
  position: absolute;
  top: 171px;
  left: 483px;
  animation: moon 7s infinite linear;
}

section .sky .cloud_1 {
  width: 250px;
  top: 400px;
  left: 600px;
  position: absolute;
  animation: bigsky 7s infinite linear;
}

section .sky .cloud_2 {
  width: 140px;
  position: absolute;
  top:550px;
  left: 600px;
  animation: smallsky 4s infinite linear;
}
.city{
  width: 100vw;
}
section .city .city_img {
  width: 50%;
  display: flex;
  margin: auto;
  margin-top: 110px;
}

/* ANIMATION */
/* 
  TODO:.5종이류의 애니메션이 필요함
  - sky: 배경색 변경 애니메이션
  - sun: sun.png가 회전하는 애니메이션
  - moon: moon.png가 회전하는 애니메이션
  - cloud_1: 큰 구름이 좌우로 이동하는 애니메이션
  - cloud_2: 작은 구름이 좌우로 이동하는 애니메이션
*/
@keyframes sun {
  0%{
    rotate: 0deg;
    opacity: 0;
  }
  25%{
    rotate: 180deg;
    opacity: 1;
  }
  50%{
    rotate: 360deg;
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
@keyframes moon {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  50%{
    rotate: 0deg;
    opacity: 0;
  }
  75%{
    rotate: 180deg;
    opacity: 1;
  }
  100%{
    rotate: 360deg;
    opacity: 0;
  }
}
@keyframes bigsky {
  0%{
    opacity: 1;
    left: 600px;
  }
  50%{
    left: 2300px;
    opacity: 0;
  }
  100%{
    left: 600px;
    opacity: 1;
  }
}
  @keyframes smallsky {
    0%{
      left: 600px;
      opacity: 1;
    }
    50%{
      left: 2300px;
      opacity: 0;
    }
    100%{
      left: 600px;
      opacity: 1;
    }
}

@keyframes background {
  0%{
    background-color: #636888;
  }
  25%{
    background-color: #b1e1e2;
  }
  50%{
    background-color: #fcd2e2;
  }
  75%{
    background-color: #675577;
  }
  100%{
    background-color: #636888;
  }
}


/*
  참고: 알아야 할 속성 소개
  oapcity: 0 ~ 1 사이의 값으로 불투명도를 설정할 수 있음
  - 0: 요소가 완전히 투명해 보이지 않음
  - 0~1 사이의 값: 요소가 반투명해 뒤에 내용을 볼 수 있음
  - 1: 요소가 불투명함 
*/

/*
  참고: 배경 색상 종류
  - background-color: #636888;
  - background-color: #b1e1e2;
  - background-color: #fcd2e2;
  - background-color: #675577;
  - background-color: #636888;
*/
