<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Document</title>
</head>

<body>
    <h1>회원가입</h1>
    <form name="form-register">
        <label for="userid">ID</label>
        <input type="text" id="userid" /><br />
        <label for="pw">PW</label>
        <input type="password" id="pw" /><br />
        <label for="name">Name</label>
        <input type="text" id="name" /><br />
        <button type="button" onclick="register()">회원가입</button>
    </form>

    <script>
        async function register() {
            const form = document.forms['form-register'];
            let data = {
                userid: form.userid.value,
                pw: form.pw.value,
                name: form.name.value
            }

            const result = await axios({
                method: "post",
                url: "/user/signup",
                data
            })
            alert("회원가입을 축하합니다.");
            window.location.href = "/user"

        }
    </script>
</body>

</html>