<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Document</title>
</head>

<body>
    <h1>
        <%=name%>님 환영합니다.
            <ul>
                <%for(let i=0;i<result.length;i++){%>
                    <li><b>
                            <%= result[i].name%>
                        </b></li>
                    <%}%>
            </ul>
    </h1>


    <script>

    </script>
</body>

</html>