<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>죄송합니다 없는 페이지입니다.</h2>
    <a href="/">홈으로</a>
</body>

</html>