<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Document</title>
</head>

<body>
    <h3>안녕하세요, 환영합니다.</h3>
    <a href="/user/signup">회원가입 하러 가기</a>
    <a href="/user/signin">로그인 하러 가기</a>
</body>

</html>