<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <h2>회원 정보 페이지입니다.</h2>
    당신의 아이디는 : <input type="text" name="id"><button type="button">수정하기</button><br>
    당신의 비밀번호는 : <input type="text" name="pw"><button type="button">삭제하기</button>
    <br>
    <button type="button">삭제하기</button>

    <script>

    </script>
</body>

</html>