<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="main">
        <form id="room">
            <input type="text" id="roomName" placeholder="채팅방 만들기" />
            <input type="text" id="userName" placeholder="사용자 이름 입력" />
            <button>만들기</button>
        </form>
        <ul id="lists"></ul>
    </div>
    <div id="body" hidden>
        <div id="msg">

        </div>
        <form id="chat">
            <select id="userList"></select>에게
            <input type="text" id="message" placeholder="메세지 입력" />
            <button>입력</button>
        </form>
    </div>

    <script>
        const socket = io();
        const roomForm = document.querySelector("#room");
        const chatForm = document.querySelector("#chat");
        const msg = document.querySelector("#msg");

        let myName;

        //룸리스트
        socket.on("roomList", (roomLists) => {
            const lists = document.querySelector("#lists");
            lists.textContent = "";
            roomLists.forEach((roomList) => {
                const li = document.createElement("li");
                li.textContent = `${roomList} 와 닉네임 입력 후 입장`;
                lists.appendChild(li);
            });
        });

        //사용자 리스트
        socket.on("userList", (userLists) => {
            const lists = document.querySelector("#userList");
            lists.textContent = "";
            let options = `<option value="all">전체</option>`;
            for (let i of userLists) {
                options += `<option value="${i.key}">${i.name}</option>`;
            }
            // 들어온 사용자 이름
            console.log(userLists.name)
            const div = document.createElement("div");
            const p = document.createElement("p");
            div.classList.add("welcome")
            p.textContent = `${userLists[userLists.length - 1].name}님이 입장하셨습니다.`;
            div.appendChild(p);
            msg.appendChild(div)
            lists.innerHTML = options;
        });
        //메세지 띄우기
        socket.on("newMessage", (message, nick, bool) => {
            console.log(message, nick);
            const div = document.createElement("div");
            const p = document.createElement("p");

            if (myName === nick) {
                //내가 입력한 텍스트
                div.classList.add("my-chat")
            } else {
                // 상대방이 입력한 텍스트
                div.classList.add("other-chat")
            }
            //개인메시지일떄  bool이 true
            if (bool) {
                div.classList.add("secret-chat")
            }
            //채팅 텍스트
            p.textContent = bool ? `(귓속말) ${nick} : ${message}` : `${nick} : ${message}`;
            div.appendChild(p);
            msg.appendChild(div)
        });

        ///폼 이벤트
        roomForm.addEventListener("submit", (e) => {
            e.preventDefault();
            const roomName = roomForm.querySelector("#roomName");
            const userName = roomForm.querySelector("#userName");
            if (roomName.value === "" || userName.value === "") {
                alert("방이름과 닉네임 적어주세요");
                return;
            }
            socket.emit("create", roomName.value, userName.value, () => {
                const main = document.querySelector("#main");
                const body = document.querySelector("#body");
                main.hidden = true;
                body.hidden = false;
                // 전역 변수에 입력한 닉네임을 저장
                myName = userName.value;
            });
        });
        chatForm.addEventListener("submit", (e) => {
            e.preventDefault();
            const user = document.querySelector("#userList");
            const message = document.querySelector("#message");
            const msg = {
                nick: myName,
                user: user.value,
                message: message.value,
            };
            socket.emit("sendMessage", msg);
            message.value = "";
        });





    </script>

    <style>
        #body {
            height: 70vh;
            width: 100%;
            position: relative;
            background-color: rgb(185, 185, 241);
        }

        #chat {
            position: absolute;
            bottom: 0px;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        #chat input {
            width: 80%;
        }

        .my-chat {
            display: flex;
            justify-content: end;
            padding: 2px 0;

        }

        .my-chat p {
            margin: 0;
            padding: 10px;
            background-color: yellow;
            border-radius: 10px;
            margin-right: 10px;
        }

        .other-chat {
            display: flex;
            justify-content: start;
            padding: 2px 0;
        }

        .other-chat p {
            margin: 0;
            padding: 10px;
            background-color: white;
            border-radius: 10px;
            margin-left: 10px;
        }

        .welcome {
            display: flex;
            justify-content: center;
            padding: 2px 0;
        }

        .owelcome p {
            margin: 0;
            padding: 10px;
            background-color: rgb(185, 185, 241);
            border-radius: 10px;
            margin-left: 10px;
        }

        .secret-chat p {
            margin: 0;
            padding: 10px;
            background-color: rgb(206, 116, 255);
            border-radius: 10px;
            margin-left: 10px;
        }
    </style>
</body>

</html>